---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../utils/createSlug";


const posts = await getCollection("blog");
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const recentPosts = posts.slice(0,3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello, I'm the</div>
    <div class="text-6xl font-bold">TrailerParkPilot</div>
    <div class="text-xl py-3 font-bold">Welcome to my random blog</div>
  </div>
  <div class="text-5xl py-3 font-bold">Recent Posts</div>
  {
    recentPosts.map((blig) => (
        <HorizontalCard
          title={blig.data.title}
          image={blig.data.heroImage}
          description={blig.data.description}
          url={"/blog/" + createSlug(blig.id) }
          tags={blig.data.tags}
          badge={blig.data.badge}
          target="_self"
        />
        <div class="divider my-0" />
    ))
  }
</BaseLayout>
